body{
    margin-left: 20px; 
    margin-right: 20px; 
    font-family: 'Inconsolata', monospace; 
    background-color:#fceade;
    color:#ea526f;
    line-height: 22px;
    text-align:left;
}
.nav-text li{
    display:inline-block;
}
#banner-pic{
    width:100%;
    height: 450px;
}

.work-photo{
    border:1px solid black; 
    height: 300px; 
    box-shadow:7px 2px 15px black;
    margin-left: 40px;
}
nav{
    background-color:#17255a;
    border:1px solid black; 
    margin:0px 0px 40px; 
    padding:5px; 
    position: relative; 
    font-size: 15px;
}
/* .nav li{
    display: inline-block;
} */
.nav-link{
    padding:10px; 
    
}
.nav-link:hover{
    cursor: pointer;
    background-color: #fffff3;
}

ul{
    list-style-type: none;
}

@media screen and (min-width:540px){
body{
    text-align:left;
}
#banner-pic{
    float:right;
    width:75%;
    height: 450px;
}
#header-text{
    background-color:#fceade;
    border:1px solid black; 
    padding:10px;
    height: 400px; 
    display: box; 
    width:25%;
    position: relative;
}
#bio{
    margin:0px 10px;
}
h2{
    position: absolute; bottom: 0; 
}
main{
    text-align:center;
    display: inline-block;
}
}

@media screen and (min-width:800px){
    
header{
    margin:20px 0px 0px; 
    position: relative;
}

#banner-pic{
    float:right;
    width:55%;
    height: 450px;
}

#header-text{
    background-color:#fceade;
    border:1px solid black; 
    padding:10px; 
    height: 400px; 
    display: box; 
    width:45%;
    position: relative;
}

h1,h2,h3,h4{
    font-family: 'Karla', sans-serif;
}

h2{
    position: absolute; 
    bottom: 0; 
}

h3{
    text-decoration: underline;
}

p{
    margin-right: 55%;
    margin-left: 40px;
    font-size: 20px;
}

.contact-footer{
    padding-bottom: 40px;
    margin-left:40px;
}

.nav-link:hover{
    cursor: pointer;
    background-color: #fffff3;
}

a{
    color:#fa526c;
    margin-right: 20px;
}
}
